* {
	margin: 0;
	padding: 0;
	border: 0;
}
ul, li {
	list-style: none outside none;
}

/*头部*/

header {
	width: 100%;
	height: 1.875rem;
	background: #12b7f5;
	font-size: .725rem;
	text-align: center;
	line-height: 1.875rem;
	color: #ffffff;
}
header p {
	display: inline-block;
	width: 84%;
}
header a {
	display: inline-block;
	/*width: 8%;*/
}

/*搜索条*/

.search_main {
	width: 100%;
	height: 2.175rem;
	background: #f0f1f5;
	border-bottom: .025rem solid #dddddd;
	position: relative;
}
#search {
	width: 11.675rem;
	height: 1.575rem;
	border: .025rem solid #dfd7c3;
	line-height: 1.5rem;
	border-radius: .35rem;
	text-indent: 1.775rem;
	font-size: .6rem;
	color: #b4b4b4;
	position: absolute;
	top: .26rem;
	left: .65rem;
}
.search_img {
	width: .875rem;
	height: .875rem;
	position: absolute;
	top: .6rem;
	left: 1.125rem;
	z-index: 100;
}
#search_btn {
	width: 2.65rem;
	height: 1.575rem;
	border-radius: .35rem;
	border: 0.025rem solid #dfd7c3;
	color: #ffffff;
	font-size: .682rem;
	background: #eeae1a;
	position: absolute;
	top: .26rem;
	right: .625rem;
}

/**/

.info_main {
	width: 100%;
	height: 21.5rem;
	background: #ffffff;
}
.info {
	width: 14.75rem;
	margin-left: .625rem;
}
.info h3 {
	width: 14.75rem;
	height: 1.325rem;
	background: #e3e3e3;
	line-height: 1.325rem;
	text-indent: .35rem;
	color: #666666;
	font-size: .597rem;
	margin-top: .35rem;
}
.info_single {
	width: 14.75rem;
	height: 2.75rem;
	margin-top: .35rem;
}
.info_single ul li {
	font-size: .554rem;
	color: #8f8f8f;
	display: inline-block;
	text-indent: 0.1rem;
}

/*姓名颜色*/

.row1 li:first-child {
	color: #4fcaf8;
}
.row1 {
	/*float: left;*/
	/*margin-bottom: .5rem;*/
}
.row2 {
	/*float: left;*/
}
.info_single ul:nth-of-type(1) li:nth-of-type(1) {
	width: 8rem;
}
.info_single ul:nth-of-type(1) li:nth-of-type(2) {
	width: 2.2rem;
}
.info_single ul:nth-of-type(1) li:nth-of-type(3) {
	width: 3.5rem;
}
.info_single ul:nth-of-type(2) li:nth-of-type(1) {
	width: 8rem;
}
.info_single ul:nth-of-type(2) li:nth-of-type(2) {
	width: 6rem;
}
hr {
	border: 0;
	border-top: .05rem solid #e4e7ed
}
footer {
	width: 100%;
	height: 2.125rem;
	background: #ffffff;
	border-top: .05rem solid #e9e9e9;
}
footer ul li {
	width: 33.3%;
	height: 2.125rem;
	text-align: center;
	float: left;
}
footer span {
	display: inline-block;
	width: 2.125rem;
	height: 2.125rem;
}
footer span a img {
	width: 2.125rem;
	height: 2.125rem;
	overflow: hidden;
}