@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; border:0;}
html { font-family:"微软雅黑"; }

h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
img{vertical-align:top}
input[type=button]{
	-webkit-appearance:none;
	outline:none
}
body{background:#f1f1f1;width: 7.2rem;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #333333; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #333333; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #333333; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #333333; 
} 
ul,li{ list-style:none;}
.clear{margin:0px; padding:0px; width:0px; height:0px; line-height:0px; font-size:0px; clear:both;}

/*公共头部*/
header {
	width: 7.2rem;
	height: .96rem;
	background: #393a3e;
	line-height: .96rem;
}
header .header_back {
	display: inline-block;
	width: .64rem;
	height: .41rem;
	margin: .275rem 0 0 .32rem;
	border-right: .02rem solid #2d2e32;
	float: left;
}
header .header_back img {
	margin-top: .04rem;
	width: .34rem;
	height: .33rem;
}
header p {
	font-size: .36rem;
	color: #FFFFFF;
	text-indent: .25rem;
}
/*导航*/
nav {
	width: 7.2rem;
	height: .8rem;
	background: #FFFFFF;
	border-bottom: .02rem solid #d5d5d5;
	position: relative;
}
nav ul a {
	float: left;
	height: .78rem;
	line-height: .8rem;
	font-size: .28rem;
	color: #4d4d4d;

}
nav ul a {
	margin-right: .48rem;
}
nav ul:first-child {
	margin-left: .24rem;
}
nav .filter {
	width: 2rem;
	margin: 0;
	border-left: .02rem solid #d5d5d5;
	text-indent: .96rem;
	position: absolute;
	right: 0;
}
nav .filter img {
	width: .29rem;
	height: .32rem;
	position: absolute;
	top: .23rem;
	left: .54rem;
}
/*导航选中样式*/
.checked {
	color: #fe4006;
	border-bottom: .02rem solid #fe4006;
}
/*main-content*/
.main-content {
	width: 6.72rem;
	margin: 0 auto;
	background: #FFFFFF;
}
.main-content .single {
	margin-top: .24rem;
}
.single > img {
	width: 6.72rem;
	height: 3.2rem;
}
.single-content{
	margin-left: .2rem;
	position: relative;
}
.single-content > p {
	width: 5.58rem;
	font-size: .32rem;
	color: #4d4d4d;
	margin: .18rem 0 .16rem;
}
.single-content img {
	width: .34rem;
	height: .32rem;
	position: absolute;
	top: .05rem;
	right: .2rem;
}
.single-tag {
	height: .37rem;
}
.single-tag a {
	width: .74rem;
	height: .37rem;
	text-align: center;
	line-height: .37rem;
	float: left;
	font-size: .24rem;
	color: #939393;
	background: #f1f1f1;
	border-radius: .05rem;
	margin-right: .14rem;
}
.single-content progress {
	width: 6.32rem;
	height: .1rem;
	/*border-radius: .1rem;*/
	float: left;
	margin: .24rem 0;
}
/*进度条背景兼容*/
progress::-moz-progress-bar { background: #00EDCE; }
progress::-webkit-progress-bar { background: #e6e6e6; }
progress::-webkit-progress-value  { background: #00edce; }

.single-info {
	width: 6.51rem;
	height: .62rem;
	padding-bottom: .24rem;
	overflow: hidden;
	
}
.single-info li {
	width: 1.56rem;
	height: .62rem;
	float: left;
	border-right: .02rem solid #d8d8d8;
	margin-right: .2rem;

}
.single-info li p:first-child {
	font-size: .28rem;	
	color: #4d4d4d;
}
.single-info li p:last-child {
	font-size: .24rem;
	color: #aeaeae;
}
/*footer*/
footer {
	width: 7.2rem;
	height: .98rem;
	background: #ffffff;
	border-top: .02rem solid #e9e9e9;
	/*line-height: .98rem;*/
}
footer a {
	width: 2.4rem;
	height: .98rem;
	float: left;
	text-align: center;
	position: relative;
}
footer a span {
	display: block;
	height: .26rem;
	color: #4d4d4d;
	font-size: .26rem;
	position: absolute;
	top: .6rem;
	left: .96rem;
	
}
footer a img {
	display: inline-block;
	margin: .12rem auto 0;
	/*vertical-align: middle;*/
	width: .4rem;
	height: .4rem;
	/*overflow: hidden;*/
}